#carousel-inner
{
	float: left; /* important for inline positioning */
	overflow: hidden;  /* important (hide the items outside the div) */
	width: 630px; /* important (this width = width of list item(including margin) * items shown */
	/* non-important styling bellow */
	background: #f0f0f0;
}
#carousel-ul
{
	position: relative;
	left: -210px; /* important (this should be negative number of list items width(including margin) */
	width: 9999px; /* important */
	margin: 0;
	padding: 0;
	/* non-important styling bellow */
	padding-bottom: 10px;
	list-style-type: none; /* removing the default styling for unordered list items */
}
#carousel-ul li
{
	float: left; /* important for inline positioning of the list items */

	width: 200px;  /* fixed width, important */
	height: 110px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	/* just styling bellow*/
	padding: 0;

	background: #000;
}
#carousel-ul li img
{
	margin-bottom: -4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
	/* styling */
	cursor: pointer;
	cursor: hand;
	border: 0;
}
#left-scroll,
#right-scroll
{
	float: left;
	width: 15px;
	height: 130px;
	background: #c0c0c0;
}
#left-scroll img,
#right-scroll img
{
	/*styling*/
	cursor: pointer;
	cursor: hand;
}
