/* ---------------------------------------------
				GENERAL
--------------------------------------------- */
/* Custom Fonts */
@font-face
{
    font-family: 'gotham';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gotham-Book.woff2') format('woff2'),
    url('../fonts/Gotham-Book.woff') format('woff'),
    url('../fonts/Gotham-Book.ttf') format('truetype'),
    url('../fonts/Gotham-Book.svg#gotham') format('svg');
}

/* Putting OUTLINES on everything for testing/visibility */
/* * { outline: 1px dashed #f00; } */

/* Primary Color: #3b3f31;
Secondary Color: #737a59; */

body
{
    font-family: gotham;

    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;

    color: #ccc;
    background:    -moz-radial-gradient(center, ellipse cover,  #737a59 0%, #3b3f31 50%, #333 75%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #737a59 0%,#3b3f31 50%,#333 75%); /* Chrome10-25,Safari5.1-6 */
    background:         radial-gradient(ellipse at center,  #737a59 0%,#3b3f31 50%,#333 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-color: #3b3f31; /* Old browsers */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737a59', endColorstr='#333333',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
a
{
    color: #ccc;
}
address
{
    /*  */
}
h2
{
    color: #6c458f;
    text-shadow: -1px -1px 0 #ccc,
    1px -1px 0 #ccc,
    -1px 1px 0 #ccc,
    1px 1px 0 #ccc;
}



/* ---------------------------------------------
				MAIN CONTAINER
--------------------------------------------- */
#CONTAINER
{
    width: 56%;
    min-height: 100vh;
    margin: 0 auto;
}
header
{
    height: 42rem;

    border: .5rem solid #777;
    border-top: 0;
    background-color: #737a59;
    background-image: url(../img/nav/cover-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div#head
{
    position: relative;
    top: 60%;

    width: 56%;
    height: 100%;
    margin: 0 auto;
}
nav#main
{
    position: relative;
    top: 30%;
}
nav#main > ul
{
    margin: 0;
    padding: 0;

    text-align: center;
}
nav#main > ul > li
{
    display: inline;

    width: 7rem;
    height: 7rem;
    margin-right: 2rem;
    padding: 0;

    list-style-type: none;

    border: .3rem solid #494949;
    background-color: #737a59;
    box-shadow: 0 3px 14px 1px rgba(204,204,204,.35);
}
#hero
{
    float: right;

    width: 24rem;
    height: 24rem;

    border: .5rem solid #494949;
    border-radius: 50%;
    background-image: url(../img/hero/gabe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 3px 14px 1px rgba(204,204,204,.35);
}
section#content
{
    margin: 10rem 0;
}
div#case-study
{
    height: 42rem;

    border: .375rem solid #ccc;
    background-color: #494949;
    background-image: url(../img/proj/case-study.jpg);
    background-repeat: no-repeat;
    background-position: 0 68%;
    background-size: cover;
}
div#case-study > h2
{
    position: relative;
    top: -11%;

    padding-left: 2rem;
}
div#projects
{
    margin-top: 2rem;
}
div#projects > h2
{
    position: relative;
    z-index: 2;

    text-align: center;
}
div#carousel
{
    position: relative;

    margin-top: -2.2%;
}
div#carousel > ul
{
    margin-bottom: 0;
}
div#carousel > ul > li
{
    height: 36rem;

    list-style-type: none;

    border: .375rem solid #ccc;
}
#proj1,
#proj2,
#proj3
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#proj1
{
    background-image: url(../img/proj/project-01.jpg);
}
#proj2
{
    background-image: url(../img/proj/project-02.jpg);
}
#proj3
{
    background-image: url(../img/proj/project-03.jpg);
}
div#left-scroll,
div#right-scroll
{
    position: absolute;
    z-index: 2;
    top: 0;

    width: 1rem;
    height: 26rem;

    cursor: pointer;
    cursor: hand;

    background-image: url(../img/nav/nav-arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
div#left-scroll
{
    left: 1.25%;

    transform: rotate(180deg);
}
div#right-scroll
{
    right: 1.25%;

    float: right;
}
div#skills
{
    clear: both;

    margin-top: 6rem;

    border: .375rem solid #ccc;
    background-color: #737a59;
}
div#skills > h2
{
    margin-top: -2.65%;
    padding-right: 2rem;

    text-align: right;
}
div#skills > ul
{
    list-style-type: none;

    text-align: center;
}
footer
{
    height: 14rem;

    border: .5rem solid #777;
    border-bottom: 0;
    background-color: #333;
}
nav#social-media
{
    position: relative;
    top: -28%;
    right: 2%;

    float: right;
}
nav#social-media > ul
{
    margin: 0;
    padding: 0;

    text-align: center;
}
nav#social-media > ul > a > li
{
    display: inline;

    width: 6rem;
    height: 6rem;
    margin: 0 1rem;

    list-style-type: none;

    border: .3rem solid #494949;
    box-shadow: 0 3px 14px 1px rgba(204,204,204,.35);
}
.social-badge
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#lnkd
{
    background-image: url(../img/social-badges/sb-lnkd.jpg);
}
#bhnc
{
    background-image: url(../img/social-badges/sb-bhnc.jpg);
}
#drib
{
    background-image: url(../img/social-badges/sb-drib.jpg);
}
#twit
{
    background-image: url(../img/social-badges/sb-twit.jpg);
}



/* ---------------------------------------------
				BADGES, BUTTONS & STICKERS
--------------------------------------------- */
button
{
    /*  */
}
.btn
{
    /*  */
}
.btn-cta
{
    /*  */
}



/* ---------------------------------------------
				DEFINE GENERAL {classes} HERE
--------------------------------------------- */
.ctr-text
{
    text-align: center;
}
.ctr-vert
{
    display:         flex;
    display: -webkit-flex;

    height: 100%;

            align-items: center;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
         -o-align-items: center;
            justify-content: center;
    -webkit-justify-content: center;
       -moz-justify-content: center;
        -ms-justify-content: center;
         -o-justify-content: center;
}
.date
{
    /*  */
}
.email
{
    /*  */
}
.hashtag
{
    /*  */
}
.note
{
    /*  */
}
.phone
{
    /*  */
}
.quote
{
    /*  */
}
.stroke-black
{
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.stroke-pink
{
    text-shadow: -1px -1px 0 #e40074,
    1px -1px 0 #e40074,
    -1px 1px 0 #e40074,
    1px 1px 0 #e40074;
}
.stroke-white
{
    text-shadow: -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
