/* ---------------------------------------------
				GENERAL
--------------------------------------------- */
/* Custom Fonts */
/* @import url(); /* Font Name-Spelling */

/* Putting OUTLINES on everything for testing/visibility */
/* * { outline: 1px dashed #f00; } */

/* Primary Color: #3b3f31;
Secondary Color: #737a59; */

body
{
	color: #ccc;
	background-color: #3b3f31;
}
a
{
	/*  */
}
address
{
	/*  */
}



/* ---------------------------------------------
				MAIN CONTAINER
--------------------------------------------- */
#CONTAINER
{
	width: 54%;
	min-height: 100vh;
	margin: 0 auto;

	outline: 1px dashed black;
}
header
{
	height: 14rem;

	outline: 1px dashed yellow;
	background-color: #b90;
}
nav#main
{
	float: left;

	width: auto;

	outline: 1px dashed cadetblue;
	background-color: #fac;
}
nav#main > ul
{
	margin: 0;
	padding: 0;

	text-align: center;
}
nav#main > ul > li
{
	display: inline;

	width: 5rem;
	height: 5rem;
	margin-left: 1rem;

	list-style-type: none;

	border: 0.2rem solid #000;
}
#hero
{
	position: relative;

	float: right;

	width: 25%;
	height: 10rem;

	outline: 1px dashed lightblue;
	background-color: #0ab;
	background-image: url(../img/hero/gabe.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
}
section#content
{
	margin-top: 10rem;

	outline: 1px dashed lightblue;
}
div#case-study
{
	clear: both;

	height: 32rem;

	outline: 1px dashed yellowgreen;
	background-color: #333;
	background-image: url(../img/proj/case-study.jpg);
	background-repeat: no-repeat;
	background-position: 0 68%;
	background-size: cover;
}
div#projects
{
	outline: 1px dashed antiquewhite;
}
div#carousel
{
	position: relative;
}
div#carousel > ul
{
	margin-bottom: 0;
}
div#carousel > ul > li
{
	height: 26rem;

	list-style-type: none;

	outline: 1px dashed blueviolet;
}
li.project
{
	background-image: url(../img/proj/proj-placeholder.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
div#left-scroll,
div#right-scroll
{
	position: absolute;
	z-index: 2;
	top: 0;

	height: 26rem;

	cursor: pointer;
	cursor: hand;

	outline: 1px dashed red;
	background-image: url(../img/nav/nav-arrow-right.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
div#left-scroll
{
	left: 1.25%;

	transform: rotate(180deg);
}
div#right-scroll
{
	right: 1.25%;

	float: right;
}
div#skills
{
	clear: both;

	outline: 1px dashed red;
	background-color: #328;
}
div#skills > ul
{
	margin: 2rem 0;

	list-style-type: none;

	text-align: center;
}
footer
{
	height: 14rem;

	outline: 1px dashed green;
	background-color: #90a;
}
nav#social-media
{
	outline: 1px dashed blue;
	background-color: #a9f;
}
nav#social-media > ul
{
	margin: 0;
	padding: 0;

	text-align: center;
}
nav#social-media > ul > li
{
	display: inline;

	list-style-type: none;

	border: 0.2rem solid #000;
}



/* ---------------------------------------------
				BADGES, BUTTONS & STICKERS
--------------------------------------------- */
button
{
	/*  */
}
.btn
{
	/*  */
}
.btn-cta
{
	/*  */
}



/* ---------------------------------------------
				DEFINE GENERAL {classes} HERE
--------------------------------------------- */
.ctr-text
{
	text-align: center;
}
.ctr-vert
{
	display:         flex;
	display: -webkit-flex;

	height: 100%;

	        align-items: center;
	-webkit-align-items: center;
	   -moz-align-items: center;
	    -ms-align-items: center;
	     -o-align-items: center;
	        justify-content: center;
	-webkit-justify-content: center;
	   -moz-justify-content: center;
	    -ms-justify-content: center;
	     -o-justify-content: center;
}
.date
{
	/*  */
}
.email
{
	/*  */
}
.hashtag
{
	/*  */
}
.note
{
	/*  */
}
.phone
{
	/*  */
}
.quote
{
	/*  */
}
.stroke-black
{
	text-shadow: -1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}
.stroke-pink
{
	text-shadow: -1px -1px 0 #e40074,
	1px -1px 0 #e40074,
	-1px 1px 0 #e40074,
	1px 1px 0 #e40074;
}
.stroke-white
{
	text-shadow: -1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}